@model IEnumerable<WebBookStore.Models.BookStoreModel>

@{
    ViewBag.Title = "FavList";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>FavList</h2>

<link href="~/StyleSheet/Display.css" rel="stylesheet" />
<script>

    function myClose() {
        alert("Order Successfull")
    }
</script>
<table id="customers">

    <tr>
        <th>BookId</th>
        <th>BookName</th>
        <th>AuthorFirstName</th>
        <th>AuthorLastName</th>
        <th>AuthorGender</th>
        <th>PublishYear</th>
        <th>BookPrice</th>
        <th>Category</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookId</td>
            <td>@item.BookName</td>
            <td>@item.AuthorFirsttName</td>
            <td>@item.AuthorlastName</td>
            <td>@item.Gender</td>
            <td>@item.PYear</td>
            <td>@item.BookPrice</td>
            <td>@item.Category</td>
            <td>
                <a href="@Url.Action("Purchase","BookStoreMVC" , new {id = item.BookId})" style="color:brown" onclick="myClose()">OrderPlease</a>
            </td>
        </tr>
    }
</table>

